<h1>Editando departamento</h1>

<%= render 'form', departamento: @departamento %>

<%= link_to 'Ver produtos', @departamento, class:"btn btn-info" %>
<%= link_to 'Voltar', departamentos_path, class:"btn btn-default" %>
